n8n/workflows/01-rss-editorial-pipeline.template.json
{
  "name": "01 - TV Sumaré - RSS Editorial Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "A cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.TVSUMARE_API_URL}}/rss/pending-sources",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.TVSUMARE_API_TOKEN}}"
            }
          ]
        }
      },
      "name": "Buscar fontes RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TVSUMARE_API_URL}}/editorial/import-rss",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.TVSUMARE_API_TOKEN}}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_payload",
              "value": "={{$json}}"
            }
          ]
        }
      },
      "name": "Enviar para motor editorial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ]
    }
  ],
  "connections": {
    "A cada 15 minutos": {
      "main": [
        [
          {
            "node": "Buscar fontes RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar fontes RSS": {
      "main": [
        [
          {
            "node": "Enviar para motor editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
