n8n/workflows/06-factory-provisioning.template.json
{
  "name": "06 - Vitrine IA Flow - Factory Provisioning",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vitrine-flow/factory-provisioning",
        "responseMode": "responseNode"
      },
      "name": "Webhook Provisionamento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 240]
    },
    {
      "parameters": {
        "jsCode": "const event = $json.event || 'PROVISION_REQUESTED';\nconst payload = $json.payload || $json;\nreturn [{ json: { event, queue: 'Provision Queue', status: 'accepted', product_code: $json.product_code || payload.product_code, tenant_id: $json.tenant_id || payload.tenant_id, payload } }];"
      },
      "name": "Normalizar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VITRINE_MASTER_API_URL}}/flow/events/callback",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.VITRINE_MASTER_API_TOKEN}}" },
            { "name": "X-Vitrine-Event", "value": "PROVISION_STARTED" }
          ]
        },
        "bodyParameters": {
          "parameters": [
            { "name": "event", "value": "PROVISION_STARTED" },
            { "name": "payload", "value": "={{$json}}" }
          ]
        }
      },
      "name": "Callback Provision Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: 'accepted', queue: 'Provision Queue', message: 'Provisionamento recebido pela Vitrine IA Flow.' } }}"
      },
      "name": "Responder Mission Control",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 240]
    }
  ],
  "connections": {
    "Webhook Provisionamento": { "main": [[{ "node": "Normalizar Evento", "type": "main", "index": 0 }]] },
    "Normalizar Evento": { "main": [[{ "node": "Callback Provision Started", "type": "main", "index": 0 }]] },
    "Callback Provision Started": { "main": [[{ "node": "Responder Mission Control", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {}
}
