n8n/workflows/33-migration-backup-restore-engine.template.json
{
  "name": "33 - Vitrine IA Flow - Migration Backup Restore Engine",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "vitrine-flow/migration-recovery", "responseMode": "responseNode"},
      "name": "Webhook Migration Recovery",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 240]
    },
    {
      "parameters": {"jsCode": "const p=$json; const operation=p.operation||'backup'; return [{json:{...p, operation, state:'validating', event:`${operation.toUpperCase()}_STARTED`, requires_approval:operation==='restore'&&p.environment==='production'}}];"},
      "name": "Normalize Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 240]
    },
    {
      "parameters": {"method": "POST", "url": "={{$env.VITRINE_MASTER_API_URL}}/flow/locks/acquire", "sendHeaders": true, "sendBody": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer {{$env.VITRINE_MASTER_API_TOKEN}}"}]}, "bodyParameters": {"parameters": [{"name": "resource", "value": "={{$json.company_id + ':migration:' + $json.operation}}"}, {"name": "ttl", "value": "3600"}]}},
      "name": "Acquire Operation Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 240]
    },
    {
      "parameters": {"method": "POST", "url": "={{$env.VITRINE_MASTER_API_URL}}/flow/events/callback", "sendHeaders": true, "sendBody": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer {{$env.VITRINE_MASTER_API_TOKEN}}"}]}, "bodyParameters": {"parameters": [{"name": "event", "value": "={{$json.event}}"}, {"name": "payload", "value": "={{$json}}"}]}},
      "name": "Emit Operation Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 240]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ {ok:true,status:'accepted',operation:$json.operation} }}"},
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 240]
    }
  ],
  "connections": {
    "Webhook Migration Recovery": {"main": [[{"node": "Normalize Operation", "type": "main", "index": 0}]]},
    "Normalize Operation": {"main": [[{"node": "Acquire Operation Lock", "type": "main", "index": 0}]]},
    "Acquire Operation Lock": {"main": [[{"node": "Emit Operation Started", "type": "main", "index": 0}]]},
    "Emit Operation Started": {"main": [[{"node": "Respond Accepted", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {}
}
